// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

// Layout transitions
.layout-enter-active, .layout-leave-active
  transition: opacity 0.5s

.layout-enter, .layout-leave-active 
  opacity: 0


// Page transitions
.page-enter-active, .page-leave-active
  transition: opacity 0.5s

.page-enter, .page-leave-to
  opacity: 0
